[submodule "third_party/simpleini"]
	path = third_party/simpleini
	url = https://github.com/aseprite/simpleini.git
[submodule "third_party/duktape"]
	path = third_party/duktape
	url = https://github.com/libresprite/duktape.git
[submodule "src/flic"]
	path = src/flic
	url = https://github.com/aseprite/flic.git
