[submodule "third_party/simpleini"]
	path = third_party/simpleini
	url = https://github.com/aseprite/simpleini.git
[submodule "third_party/duktape"]
	path = third_party/duktape
	url = https://github.com/libresprite/duktape.git
[submodule "src/flic"]
	path = src/flic
	url = https://github.com/aseprite/flic.git
[submodule "src/clip"]
	path = src/clip
	url = https://github.com/aseprite/clip.git
[submodule "src/observable"]
	path = src/observable
	url = https://github.com/dacap/observable.git
[submodule "src/undo"]
	path = src/undo
	url = https://github.com/aseprite/undo.git
