[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=LibreSprite
GenericName=Sprite Editor
Comment=Animated sprite editor & pixel art tool
Icon=libresprite
Categories=Graphics;2DGraphics;RasterGraphics;
Exec=libresprite %U
TryExec=libresprite
Terminal=false
StartupNotify=false
StartupWMClass=libresprite
MimeType=image/bmp;image/gif;image/jpeg;image/png;image/x-pcx;image/x-tga;image/vnd.microsoft.icon;video/x-flic;image/webp;image/x-aseprite;
